<div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
        <!--
            <th></th>
        -->
          <th>Usuario</th>
          <th>Correo Electrónico</th>
          <th>Género</th>
          <th>Número telefónico</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let worker of workers; let i=index;">
        <!--
        
            <td class="table-actions">
                <span class="table-action table-action-delete" data-toggle="tooltip" title="Eliminar Usuario">
                    <i class="fas fa-trash"></i>
                </span>
            </td>
        -->
          <td class="table-user">
            <img [src]="getImage(i)" class="avatar rounded-circle mr-3">
            <b>{{worker.name+' '+worker.last_name}}</b>
          </td>
          <td>
            {{worker.email}}
          </td>
          <td>
            {{worker.gender=='male'?"Masculino":worker.gender=='female'?'Femenino':'Indefinido'}}
          </td>
          <td>
            {{worker.phone}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>