<app-layout>

    <div slot="header" class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Zonas Láser</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fa fa-user"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Zonas a depilar</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <div slot="content" class="container-fluid mt--6">
        <div class="row">
            <div class="col-12">
              <div class="card-wrapper">
                <!-- Form controls -->
                <div class="card">
                  <!-- Card header -->
                  <div class="card-header">
                    <h3 class="mb-0">Listado de Zonas a depilar</h3>
                  </div>
                  <!-- Card body -->
                  <div class="card-body">
                    <button class="btn btn-success mb-4" data-toggle="modal" data-target="#storeLaserZone" >AÑADIR ZONA A DEPILAR</button>
                    <laser-zones-table [zones]="zones" (reload)="fetchZonesList()" ></laser-zones-table>
                    <nav class="py-3">
                      <ul class="pagination justify-content-center">
                        <li class="page-item" [ngClass]="{'disabled':currentPage==1}" (click)="fetchZonesList(currentPage-1)" >
                          <span class="page-link" tabindex="-1">
                            <i class="fa fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                          </span>
                        </li>
                        <li class="page-item" *ngIf="currentPage>1"  (click)="fetchZonesList(currentPage-1)" >
                          <span class="page-link">{{currentPage-1}}</span>
                        </li>
                        <li class="page-item active" (click)="fetchZonesList(currentPage)" >
                          <span class="page-link">{{currentPage}}</span>
                        </li>
                        <li class="page-item" *ngIf="currentPage<lastPage"  (click)="fetchZonesList(currentPage+1)" >
                          <span class="page-link">{{currentPage+1}}</span>
                        </li>
                        <li class="page-item" [ngClass]="{'disabled':currentPage>=lastPage}" (click)="fetchZonesList(currentPage+1)" >
                          <span class="page-link">
                            <i class="fa fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                          </span>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
    </div>

  </app-layout>
  <store-laser-zone (reload)="fetchZonesList()" ></store-laser-zone>