<div class="modal fade" id="editServiceModal" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <h5 class="modal-title">Editar Servicio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editServiceForm" >
          <div class="col-12">
            <div class="form-group">
              <label class="form-control-label">Nombre</label>
              <input formControlName="name" type="text" class="form-control" placeholder="Nombre">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label class="form-control-label">Descripción</label>
              <textarea formControlName="description" placeholder="Descripción"
               class="form-control" rows="3"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="updateService()" class="btn btn-primary" data-dismiss="modal">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>